.Hardware-Stream {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Freq-Graphs {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.recharts-wrapper {
    position: absolute
}
