.Header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
    text-align: justify;
    align-items: baseline;
    padding: 2em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    background-color: #f4f6ff;
    color: #000000;
}

.Title {
    width: 0 auto;
    font-size: 45px;
    padding: 0em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.Header-Button-Row {
    position: absolute;
    bottom: 0;
    left: 2em;
    display: flex;
    margin-bottom: 0em;
}

.Header-Button {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0em;
    margin-right: 1em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #b3bff6;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.Header-Button:hover {
    background-color: #6b7291;
}

.Active-Button {
    color: #ffffff;
    background-color: #6b7291;
}

.Header-Button-Name{
    margin-left: 0.5em;
    margin-block-end: 0em;
    margin-block-start: 0em;
}
