.Header {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content: left;
    text-align: justify;
    align-items: baseline;
    padding: 1em;
    padding-bottom: 0em;
    margin-bottom: 2em;
    background-color: #f4f6ff;
    color: #000000;
}

.Title {
    font-size: 45px;
    padding: 0em;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.TitleDiv {
    width: 100%;
    margin: 0em;
    padding: 0em;
}

.Header-Button-Row {
    display: flex;
    margin-bottom: 0em;

}

.Header-Button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0em;
    margin-right: 1em;
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    background-color: #b3bff6;
}

.Header-Button:hover {
    background-color: #6b7291;
}

.Active-Button {
    color: #ffffff;
    background-color: #6b7291;
}

.Header-Button-Name {
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}
